<h1><%= @list.name %></h1>

<h4>Bookmarks</h4>
<% @list.bookmarks.each do |bookmark| %>
<li>
<%= bookmark.movie.title%>: <%= bookmark.comment %> |
<%= link_to '🗑', bookmark_path(bookmark), method: :delete %>
</li>
<% end %>

<p><%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %></p>
<p><%= link_to '< Back to all lists', lists_path %></p>
